@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$red: #801014;
$green: #60721B;
$gray: #F3F3F3;
$dark-gray: #4d4d4d;
$middle-gray: #BDBDBD;
* {
    margin:  0;
    padding: 0;
}

button {border-radius: 5px;
    font-family: 'Raleway', sans-serif;
border: none;
}
p {font-family: 'Raleway', sans-serif;}
h1 {font-family: 'Montserrat', sans-serif;}
h2 {font-family: 'Raleway', sans-serif;
margin-left: 5%;}

.desktop-header {display: none;}
.button1 {background-color: $red;
}
.button2 {background-color: $green;
}
.header-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
   a {padding: 3% 18% 3% 18%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
        border-radius: 0;
    }
}
.main-header {
    background-color: $gray ;
    padding-top: 5% 0 3% 0;
        
}
.logo {width: 30%;
margin-left: 2%;
margin-top: 2%;}
.burger-menu {max-width: 10%;
margin-left: 55%;
}

.desktop-nav-elemnts {display: none;}
footer{ background-color: $gray;
    font-family: 'Raleway', sans-serif;
    padding: 3% 3% 3% 5%;

    hr {width: 10em;}
    li {list-style-type: none;
    padding: 1.5% 0 1.5% 0;}
    a { text-decoration: none;
    color: black;
    font-weight: bold;}
    nav {padding: 3% 0 10% 0;}
    p {text-align: center;
    margin-bottom: 1%;}
    form {margin: 7% 0 15% 0;
        
    }
    input { padding: 3% 8% 3% 8%;
    text-align: center;
    color: #C1C1C1;
     border: none;}
    i {margin-right: 3%;}
    
}

.footer-p-bold { font-weight: bold}
.footer-form-input-sign-up { padding:3% 11% 3% 11%;
    background-color: $red;
    color: white;
     margin-left: -1%;   
    }


/* desktop version */
@media only screen and (min-width:1200px) {
    
    .m-header {display: none;}
    .desktop-header {display: block;
        padding: 0%;
        background-color: $gray;
    
    font-family: 'Raleway', sans-serif;
    
        img {max-width: 60%;
        margin:2% 0 0 25%;}
        
        ul {display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 6% 15% 3% 15%;}
        
        a { text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 0.90em;}
        li { padding: 0.5% 0 0.5% 0;}
    
    
    }
    
    .desktop-header-grid-article {display: grid;
    grid-template-columns: 2fr 1fr 2fr;}
    .desktop-header-buttons {margin: 7% 3% 3% 25%;
    
        a  {border: solid;
            border-radius: 6px;
        padding: 4% 13% 3% 13%;
            color: white;
            font-weight: bold;
            font-size: 0.90em;
           
            }
    }
    
   
    .desktop-nav-elemnts {display: block;}
    footer {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2% 0 7%;
        
        a {font-size: 0.9em}
        
        form {margin: 7% 0 15% 17%;}
    
        nav {margin-top: 5%;}
    }
    .footer-news-letter {  margin: 15% 0 0 -40%;  }  
    .footer-contact-info { margin: 15% 0 0 15%;
        li{ padding: 2% 0 2% 0;}
    
    }
}