@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0; }

.button1 {
  background-color: #801014; }

.button2 {
  background-color: #60721B; }

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0; }
  .header-buttons button {
    padding: 3% 18% 3% 18%;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white; }

.main-header {
  background-color: #F3F3F3;
  padding-top: 5% 0 3% 0; }

.logo {
  width: 30%;
  margin-left: 2%;
  margin-top: 2%; }

.burger-menu {
  max-width: 10%;
  margin-left: 55%; }

footer {
  background-color: #F3F3F3;
  font-family: 'Raleway', sans-serif;
  padding: 3% 3% 3% 5%; }
  footer hr {
    width: 10em; }
  footer li {
    list-style-type: none;
    padding: 1.5% 0 1.5% 0; }
  footer a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  footer nav {
    padding: 3% 0 10% 0; }
  footer p {
    text-align: center;
    margin-bottom: 1%; }
  footer form {
    margin: 7% 0 15% 0; }
  footer input {
    padding: 3% 8% 3% 8%;
    text-align: center;
    color: #C1C1C1;
    border: none; }
  footer i {
    margin-right: 3%; }

.footer-p-bold {
  font-weight: bold; }

.footer-form-input-sign-up {
  padding: 3% 11% 3% 11%;
  background-color: #801014;
  color: white;
  margin-left: -1%; }
