@import url('https://fonts.googleapis.com/css?family=Raleway');

$primary-color: #801014;
$second-color: #60721B;

* {
    margin: 0;
    padding: 0;
    color: white;
}

.button1 {background-color: $primary-color;}
.button2 {background-color: $second-color; }
.header-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    button {padding: 0 3% 0 0;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    }
}
.main-header {
    img { max-width:2%;}
}
