@import url('https://fonts.googleapis.com/css?family=Raleway');

$primary-color: #801014;
$second-color: #60721B;

* {
    margin: 0;
    padding: 0;
    color: white;
}

.button1 {background-color: $primary-color;}
.button2 {background-color: $second-color; }
.header-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    button {padding: 3% 18% 3% 18%;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    }
}
.main-header {
    background-color: #F3F3F3;
    padding-top: 5% 0 3% 0;
        
}
.logo {width: 30%;
margin-left: 2%;
margin-top: 2%;}
.burger-menu {max-width: 10%;
margin-left: 55%;
}


footer{ 

    hr {width: 12em;}
    nav {
        a {}
    }
    
}