@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  color: white; }

.button1 {
  background-color: #801014; }

.button2 {
  background-color: #60721B; }

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0; }
  .header-buttons button {
    padding: 0 3% 0 0;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold; }

.main-header img {
  max-width: 2%; }
