@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  padding: 0; }

button {
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  border: none; }

p {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 0.5px 0.5px black;
  color: white; }

h2 {
  font-family: 'Raleway', sans-serif;
  margin-left: 5%;
  margin-top: 5%; }

.desktop-header {
  display: none; }

.button1 {
  background-color: #801014; }

.button2 {
  background-color: #60721B; }

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0; }
  .header-buttons a {
    padding: 3% 16.5% 3% 16.5%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 0; }

.main-header {
  background-color: #F3F3F3;
  padding-top: 5% 0 3% 0; }

.logo {
  width: 30%;
  margin-left: 2%;
  margin-top: 2%; }

.burger-menu {
  max-width: 10%;
  margin-left: 55%; }

.desktop-nav-elemnts {
  display: none; }

footer {
  background-color: #F3F3F3;
  font-family: 'Raleway', sans-serif;
  padding: 3% 3% 3% 5%; }
  footer hr {
    width: 10em; }
  footer li {
    list-style-type: none;
    padding: 1.5% 0 1.5% 0; }
  footer a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  footer nav {
    padding: 3% 0 10% 0; }
  footer p {
    text-align: center;
    margin-bottom: 1%; }
  footer form {
    margin: 7% 0 15% 0; }
  footer input {
    padding: 3% 8% 3% 8%;
    text-align: center;
    color: #C1C1C1;
    border: none; }
  footer i {
    margin-right: 3%; }

.footer-p-bold {
  font-weight: bold; }

.footer-form-input-sign-up {
  padding: 3% 11% 3% 11%;
  background-color: #801014;
  color: white;
  margin-left: -1%; }

/* desktop version */
@media only screen and (min-width: 1200px) {
  .m-header {
    display: none; }

  .desktop-header {
    display: block;
    padding: 0%;
    background-color: #F3F3F3;
    font-family: 'Raleway', sans-serif; }
    .desktop-header img {
      max-width: 60%;
      margin: 2% 0 0 25%; }
    .desktop-header ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 6% 15% 3% 15%; }
    .desktop-header a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 0.90em; }
    .desktop-header li {
      padding: 0.5% 0 0.5% 0; }

  .desktop-header-grid-article {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; }

  .desktop-header-buttons {
    margin: 7% 3% 3% 25%; }
    .desktop-header-buttons a {
      border: solid;
      border-radius: 6px;
      padding: 4% 13% 3% 13%;
      color: white;
      font-weight: bold;
      font-size: 0.90em; }

  .desktop-nav-elemnts {
    display: block; }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2% 0 7%; }
    footer a {
      font-size: 0.9em; }
    footer form {
      margin: 7% 0 15% 17%; }
    footer nav {
      margin-top: 5%; }

  .footer-news-letter {
    margin: 15% 0 0 -40%; }

  .footer-contact-info {
    margin: 15% 0 0 15%; }
    .footer-contact-info li {
      padding: 2% 0 2% 0; } }
/*-- Mobile home page --*/
img {
  max-width: 100%; }

.home-page-start {
  position: relative; }
  .home-page-start article {
    position: absolute;
    top: 5%;
    margin: 4%; }
  .home-page-start p {
    color: white;
    font-size: 1em;
    margin: 5% 0 5% 0;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black; }
  .home-page-start button {
    border: none;
    padding: 3% 8% 3% 8%;
    background-color: #801014;
    text-align: center;
    margin: 20% 0% 2% 38%; }
    .home-page-start button a {
      text-decoration: none;
      color: white;
      font-size: 0.8em;
      font-weight: bold; }

.logo-without-hand {
  max-width: 50%;
  margin: 6% 3% 0 25%; }

.home-page-intro {
  margin: 6% 5% 3% 5%;
  text-align: center; }

.home-page-projects i {
  font-size: 0.7em; }

.projects-example {
  position: relative;
  max-width: 75%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 5px 5px 8px #F3F3F3; }
  .projects-example img {
    max-width: 100%; }
  .projects-example p {
    text-align: center; }
  .projects-example footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%; }
    .projects-example footer a {
      color: #60721B;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-top: 5%;
      margin-left: 5%; }
    .projects-example footer h6 {
      color: #BDBDBD;
      margin-left: 16%;
      font-size: 0.9em; }
    .projects-example footer p {
      color: #801014;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }

.project-example-banner {
  position: absolute;
  top: 43%; }
  .project-example-banner p {
    color: white;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black; }
  .project-example-banner i {
    color: #801014;
    font-size: 1.2em;
    margin-right: 2%; }
  .project-example-banner a {
    text-decoration: none;
    padding: 2.5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 113.5%; }

.location-sign {
  font-size: 1em;
  margin-left: 11%;
  padding-bottom: 2%; }

.red-background {
  background-color: #801014; }

.green-background {
  background-color: #60721B; }

.project-example-dsc {
  margin-top: 5%; }

.home-page-donation-section {
  text-align: center;
  margin-top: 5%;
  background-color: #F3F3F3; }
  .home-page-donation-section h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: 5% 2% 2% 2%; }
  .home-page-donation-section p {
    font-size: 1em;
    padding: 0 2% 5% 2%; }
  .home-page-donation-section img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .home-page-donation-section button {
    background-color: #801014;
    padding: 3% 5% 3% 5%;
    margin: 5% 0 5% 0; }
  .home-page-donation-section a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; }

.Home-page-donation-icon {
  max-width: 35%;
  margin: 7%; }

.home-page-event-section {
  margin-top: 5%; }
  .home-page-event-section i {
    font-size: 0.7em; }
  .home-page-event-section h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #801014;
    margin: -2% 5% 5% 5%; }

.home-page-event-dsc {
  font-size: 1em;
  margin: 5% 5% 2% 5%; }

.event-example {
  max-width: 90%;
  border: 1px solid #BDBDBD;
  margin: 5%; }
  .event-example h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4%; }
  .event-example a {
    text-decoration: none;
    color: white;
    background-color: #801014;
    padding: 3%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em; }

.event-dsc {
  display: grid;
  grid-template-columns: 0.7fr 0.1fr 3fr; }
  .event-dsc hr {
    width: 1px;
    size: 50px;
    color: #BDBDBD; }
  .event-dsc h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 3%;
    margin-left: 1%; }
  .event-dsc p {
    margin: 2% 1% 2% 1%; }
  .event-dsc img {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%; }

.event-example-date {
  font-size: 1em; }

.event-example-address {
  font-size: 0.8em; }

.how-we-page-banner-section {
  position: relative; }

.how-page-banner-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #801014;
  position: absolute;
  top: 98.5%;
  width: 92%;
  padding-right: 5%; }

.how-we-banner-gray-text {
  color: #BDBDBD;
  font-size: 0.8em; }

.how-we-banner-white-text {
  color: white;
  font-family: 'Montserrat', sans-serif; }

.how-us-badges-section {
  margin: 10% 5% 5% 5%;
  text-align: center; }
  .how-us-badges-section p {
    margin-top: 7%; }

.how-we-event-section {
  margin-top: 10%;
  padding-bottom: 10%; }
  .how-we-event-section i {
    font-size: 0.7em; }
  .how-we-event-section h2 {
    margin-bottom: 5%; }

h4 a {
  color: #801014;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin: 5%; }
