@import 'global';


/*-- Mobile home page --*/

img {max-width: 100%;}

.baddges-home-page {display: none;}
.home-page-start {position: relative;
    article {position: absolute;
    top: 5%;
    margin: 4%;}
    
    
    p {
    color: white;
    font-size: 1em;
    margin: 5% 0 5% 0;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black;}
    
    button{ border: none;
    padding: 3% 8% 3% 8%;
    background-color: $red;
    text-align: center;
       margin: 20% 0% 2% 38%;
    
     a {text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: bold;}
    }
    
    
}

.logo-without-hand {max-width: 50%;
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;

}

.home-page-intro {margin: 6% 5% 3% 5%;
    text-align: center;
    a {text-decoration: none;
    color: black;
    font-weight: bold;}
}

.home-page-projects {
    i{font-size: 0.7em;}
}

.projects-example {position: relative;
    max-width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 8px $gray;
    
        display: block;
    margin-left: auto;
    margin-right: auto;
    img {max-width: 100%;
    
}

    p {text-align: center;}
    
    footer {background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
        margin-top: 5%;
    
        a {color:$green;
        font-weight: bold;
        font-family:'Montserrat', sans-serif;
            margin-top: 5%;
            margin-left: 5%;
            
        }
        h6{ color: $middle-gray;
        margin-left: 16%;
        font-size: 0.9em;}
        p {color: $red;
        font-family:'Montserrat', sans-serif;
            font-weight: bold;
        }
    }
}

.project-example-banner { position: absolute;
top: 43%;
    
    p {color: white;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black;}
    
    i {color: $red;
    font-size: 1.2em;
    margin-right: 2%;}
    
    a {text-decoration: none;
    padding: 2.5%;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
     display: block;
    margin-left: auto;
    margin-right: auto;
        width: 120.5%;
        background-color: $gray;
    }
}

.location-sign { font-size: 1em;
margin-left: 11%;
padding-bottom: 2%;}



.project-example-dsc {margin-top: 5%;}

.home-page-donation-section {text-align: center;
    margin-top: 5%;
    
    background-color: $gray;
    h5{font-family:'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
        
        padding: 5% 2% 2% 2% ;
    }
    p {font-size: 1em;
   padding:0 2% 5% 2%;
   }
    
    img {display: block;
        margin-left: auto;
    margin-right: auto;
    }
    
    
    button{ background-color: $red;
    padding: 3% 5% 3% 5%;
    
    margin: 5% 0 5% 0;}
    
    a {text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;}
}

.donation-desktop-section{display: none;}
.Home-page-donation-icon {max-width: 35%;
margin: 7%;} 


.home-page-event-section {
    margin-top: 5%;
        i{font-size: 0.7em;}

    h4 {font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: $red;
    margin: -2% 5% 5% 5%;}
}
.home-page-event-dsc {font-size: 1em;
    margin: 5% 5% 2% 5%;
    a{text-decoration: none;
    color: black;
    font-weight: bold;}
}
.event-example {
    max-width: 90%;
    border: 1px solid $middle-gray;
    margin: 5%;
    
    h3 { font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4%;
    }
    
    a {text-decoration: none;
    color: white;
    background-color: $red;
    padding:3%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;}

}

.event-dsc {display: grid;
grid-template-columns: 0.7fr 0.1fr 3fr;
    
    hr {width: 1px; 
        size: 50px;
    color: $middle-gray;
   }
    h5 {font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 3%;
    margin-left: 1%;}
    
    p {margin:2% 1% 2% 1% ;}
    
    img {max-width:70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;}  
}

.event-example-date {font-size: 1em;}
.event-example-address {font-size: 0.8em;}

//--------- Mobile How We Help Page ---------//

.how-we-page-banner-section {position: relative;}
.how-page-banner-footer{display: grid;
grid-template-columns: 1fr 1fr;
background-color: $red;
    position: absolute;
    top: 98.5%;
    width:92%;
    padding-right: 5%;
}
.how-we-banner-gray-text {color: $middle-gray;
font-size: 0.8em;
}
.how-we-banner-white-text {color: white;
font-family: 'Montserrat', sans-serif;}

.how-us-badges-section {margin: 10% 5% 5% 5%;
text-align: center;

    
     p{ margin:  6% 5% 3% 5%;
    
        a {text-decoration: none;
        color: black;
        font-weight: bold;}
    
    }
}

.partner{display: none;}
.how-we-event-section {margin-top: 10%;
    padding-bottom: 10%;
    i {font-size: 0.7em;}
    h2 {margin-bottom: 5%;}
    
   
    
}

h4 {
        a{color: $red;
            font-family: 'Raleway', sans-serif;
        text-decoration: none;
        margin: 5%;}
    }


/*---------------- desktop version -------------------*/

@media only screen and (min-width:1200px) {
// Home page-Desktop
   
    .home-page-start {
        img{width: 100%;}
        
        article{top:20%;}
        
        p {    font-size:2em;}
        
        button {margin: 5% 0 2% 1%;
        padding: 3% 10% 3% 10%;}
        
        a {}
    }    
    
   .baddges-home-page {display: block;
          margin: 28%  0 0 120%;
    max-width: 60%;}
    
    .logo-without-hand{max-width: 27%;
    margin-top: 3%;}
    
    .home-page-intro {font-size: 1.5em;
    margin: 6% 10% 3% 10%;
    line-height: 30px;
        a {color: $green;}
    }
    
    .home-page-projects {
        
        h2 {
         i {display: none;}}
        
         .projects-example {
    display: block;
        margin-left: auto;
        margin-left: auto;
        max-width: 50%;
        
        img {width: 100%;}
        
             .project-example-banner {top:61.5%;
   
                 p{text-align: inherit;
                 
                 margin-left: 3%;}
    a {width: 100%;
        text-align: inherit;
        padding-right: 44.7%;
        }
        
    }      
    
    } 
    }
    
    
  
    
    
    
    .home-page-donation-section{ padding: 2% 9% 2% 9%;
        h5 {font-size: 1.5em;
        font-weight: normal;}
        
        p{font-size: 1.5em;
        font-weight: bold;}
        button {display: none;}
        
        a {background-color: white;
        color: $red;
        padding: 2% 4% 2% 4%;
        border-radius: 6px ;
        }
        
    }
    
    .Donation-method {display: grid;
    grid-template-columns: 1fr 1fr;
    
   }
    
    .donation-desktop-section {
        display: block;
        background: $red;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0 4% 0;
    
        h2 {color: white;
        font-size: 1.5em;
        margin: 0;}
        
        img {margin-bottom: 3%;
        margin-top: 3%;}
        
        p{color: $middle-gray;
        font-size: 1em;}
    }
    
    .desktop-donation-amount-section{margin-top: -3%;
    
    }
    .donation-amounts {display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        p {background-color: white;
    color: black;
    padding: 5% 7% 5% 7%;
        border: solid white;
      border-radius: 6px ;
    
    text-align: center;
    margin: 10%;} 
    
}
    
    .D-donation-time{display: grid;
grid-template-columns: 1fr 1fr;

    padding: 5%;
    margin-bottom: 3%;
   
    label {color: $middle-gray;
    font-size: 1.1em;
        display: block;
  position: relative;
    padding-left: 10%;
  cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
        
 input{position: absolute;
  opacity: 0;
  cursor: pointer;
    }
        
 span{ position: absolute;
  top: 0;
  right: 60%;
  height: 20px;
  width: 20px;
  background-color: $gray;
  border-radius: 50%;
   }
}
    
   
.D-monthly { margin-left: -27%;}
.D-one-time {margin-left: -15%;}

/* On mouse-over, add a grey background color */
.desktop-container:hover input ~ .descktop-checkmark {
  background-color: white;
}

/* When the radio button is checked, add a blue background */
.desktop-container input:checked ~ .desktop-checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.desktop-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.desktop-container input:checked ~ .desktop-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.desktop-container .desktop-checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $green;
}
    .home-page-event-section{
        
        h2 {
        i{display: none;}
        }
        
           }
    
    .home-page-event-dsc{ text-align: center;
        line-height: 30px;
        margin: 2% 10% 0 10%;
        font-size: 1.3em;
        a{color: $red;}
        
    }
    
    .event-example {max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;}
    
    .Home-desktop-event-example{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        margin: 5% ;
        
        }
        
        .Desktop-event-example-img {display: block;
            max-width: 90%;
            margin: 7% 0 0 3%;}
    
    .event-example{max-width: 90%;}
    
    
    .grid-projects-example {display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3% 5% 0 5%;
    
        .project-example-dsc {margin:5% 2% 0 2%;}
    }
    
    .projects-example {display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-bottom: 2%;
        img{max-width: 100%;}
    }
    
    .project-example-banner {top:53%;
        
        a {width: 133%;}
    }
    .how-us-badges-section{
        
        p{ margin:  6% 10% 3% 10%;
            font-size: 1.3em;
           line-height: 30px;
        
            a {color:$red;}
        }
    }
    
    
    .about-us-work-with{
        h3 {text-align: center;}
    }
    
    .partner{display:block;
    margin-left: auto;
        margin-right: auto;
    max-width: 90%;
    
    
    }
    .partner-grid {display: grid;
    grid-template-columns: 1fr 1fr;
    
    text-align: center;}
    
    .partner-logos{max-width: 90%;}
    
    .how-we-event-section{ padding-bottom: 5%;}
    .we-help-event-example{margin-bottom: 2%}
}


    

