@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  padding: 0; }

button {
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  border: none; }

p {
  font-family: 'Raleway', sans-serif; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  -webkit-text-stroke: 0.3px black;
  text-shadow: 0.5px 0.5px black;
  color: white; }

h2 {
  font-family: 'Raleway', sans-serif;
  margin-left: 5%;
  margin-top: 5%; }

.desktop-header {
  display: none; }

.button1 {
  background-color: #801014; }

.button2 {
  background-color: #60721B; }

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0; }
  .header-buttons button {
    padding: 3% 16.6% 3% 16.6%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 0;
    font-size: 1em; }

.m-donation-section {
  display: none;
  position: fixed;
  top: 6.2%;
  left: 0;
  right: 0;
  background-color: #801014;
  max-width: 100%;
  z-index: 6;
  padding: 7% 0 10% 0;
  font-family: 'Raleway', sans-serif; }
  .m-donation-section a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #801014;
    padding: 3% 5% 3% 5%;
    border: solid;
    border-radius: 6px;
    margin-left: 30%;
    font-weight: bold; }

#m-donation-section.visible {
  display: block; }

.donation-section-amounts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 3%; }
  .donation-section-amounts p {
    color: white;
    border: solid;
    border-radius: 6px;
    padding: 3% 5% 3% 5%;
    text-align: center;
    margin: 10%; }

.donation-time {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 7%;
  padding: 5%; }
  .donation-time label {
    color: #BDBDBD;
    font-size: 1.1em; }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .container span {
    position: fixed;
    top: 60;
    right: 20;
    height: 20px;
    width: 20px;
    background-color: #F3F3F3;
    border-radius: 50%; }

.monthly {
  margin-left: -25%; }

.one-time {
  margin-left: -27%; }

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white; }

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #60721B; }

.m-volunteer-section {
  display: none;
  position: fixed;
  top: 6.2%;
  left: 0;
  right: 0;
  background-color: #60721B;
  max-width: 100%;
  z-index: 6;
  padding: 7% 0% 10% 0%;
  font-family: 'Raleway', sans-serif; }
  .m-volunteer-section h4 {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0 5% 7% 5%; }
  .m-volunteer-section p {
    color: white;
    text-align: center;
    margin: 0 9% 7% 9%; }
  .m-volunteer-section form {
    margin: 0 9% 7% 9%; }
    .m-volunteer-section form input {
      color: #BDBDBD;
      font-family: 'Raleway', sans-serif;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: none;
      border-radius: 6px; }
  .m-volunteer-section a {
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: #60721B;
    padding: 3% 7% 3% 7%;
    border: solid;
    border-radius: 6px;
    margin-left: 34%;
    font-weight: bold; }

#m-volunteer-section.visible {
  display: block; }

.input-name {
  padding: 3% 26% 3% 3%; }

.input-info {
  width: 90%;
  padding: 3% 3% 15% 3%;
  font-size: 1em; }

.main-header {
  background-color: #F3F3F3;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .main-header i {
    font-size: 2.4em;
    text-align: center;
    margin-top: 10%;
    margin-left: 60%; }

.logo {
  width: 70%;
  margin-left: 7%;
  margin-top: 4%; }

.m-header nav {
  display: none;
  position: fixed;
  top: 18%;
  left: 0;
  right: 0;
  background-color: #F3F3F3;
  max-width: 100%;
  z-index: 6;
  padding: 7% 0 7% 0; }
  .m-header nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold; }
  .m-header nav li {
    list-style: none;
    text-align: center;
    padding: 2.3%; }
  .m-header nav hr {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
.m-header nav.visible {
  display: block; }

.desktop-nav-elemnts {
  display: none; }

footer {
  background-color: #F3F3F3;
  font-family: 'Raleway', sans-serif;
  padding: 3% 3% 3% 5%; }
  footer hr {
    width: 10em; }
  footer li {
    list-style-type: none;
    padding: 1.5% 0 1.5% 0; }
  footer a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
  footer nav {
    padding: 3% 0 10% 0; }
  footer p {
    text-align: center;
    margin-bottom: 1%; }
  footer form {
    margin: 7% 0 15% 0; }
  footer input {
    padding: 3% 8% 3% 8%;
    text-align: center;
    color: #C1C1C1;
    border: none; }
  footer i {
    margin-right: 3%; }

.footer-p-bold {
  font-weight: bold; }

.footer-form-input-sign-up {
  padding: 3% 11% 3% 11%;
  background-color: #801014;
  color: white;
  margin-left: -1%; }

/* desktop version */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3em; }

  h2 {
    text-align: center;
    font-size: 2em;
    margin-left: 0; }

  .m-header {
    display: none; }

  .desktop-header {
    display: block;
    padding: 0%;
    background-color: #F3F3F3;
    font-family: 'Raleway', sans-serif; }
    .desktop-header img {
      max-width: 60%;
      margin: 2% 0 0 25%; }
    .desktop-header ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 6% 15% 3% 15%; }
    .desktop-header a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 0.90em; }
    .desktop-header li {
      padding: 0.5% 0 0.5% 0; }

  .desktop-header-grid-article {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; }

  .desktop-header-buttons {
    margin: 7% 3% 3% 25%; }
    .desktop-header-buttons a {
      border: solid;
      border-radius: 6px;
      padding: 4% 13% 3% 13%;
      color: white;
      font-weight: bold;
      font-size: 0.90em; }

  .desktop-nav-elemnts {
    display: block; }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2% 0 7%; }
    footer a {
      font-size: 0.9em; }
    footer form {
      margin: 7% 0 15% 17%; }
    footer nav {
      margin-top: 5%; }

  .footer-news-letter {
    margin: 15% 0 0 -40%; }

  .footer-contact-info {
    margin: 15% 0 0 15%; }
    .footer-contact-info li {
      padding: 2% 0 2% 0; } }
/*-- Mobile home page --*/
img {
  max-width: 100%; }

.baddges-home-page {
  display: none; }

.home-page-start {
  position: relative; }
  .home-page-start article {
    position: absolute;
    top: 5%;
    margin: 4%; }
  .home-page-start p {
    color: white;
    font-size: 1em;
    margin: 5% 0 5% 0;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black; }
  .home-page-start button {
    border: none;
    padding: 3% 8% 3% 8%;
    background-color: #801014;
    text-align: center;
    margin: 20% 0% 2% 38%; }
    .home-page-start button a {
      text-decoration: none;
      color: white;
      font-size: 0.8em;
      font-weight: bold; }

.logo-without-hand {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%; }

.home-page-intro {
  margin: 6% 5% 3% 5%;
  text-align: center; }
  .home-page-intro a {
    text-decoration: none;
    color: black;
    font-weight: bold; }

.home-page-projects i {
  font-size: 0.7em; }

.projects-example {
  position: relative;
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 5px 5px 8px #F3F3F3;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .projects-example img {
    max-width: 100%; }
  .projects-example p {
    text-align: center; }
  .projects-example footer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%; }
    .projects-example footer a {
      color: #60721B;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      margin-top: 5%;
      margin-left: 5%; }
    .projects-example footer h6 {
      color: #BDBDBD;
      margin-left: 16%;
      font-size: 0.9em; }
    .projects-example footer p {
      color: #801014;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }

.project-example-banner {
  position: absolute;
  top: 43%; }
  .project-example-banner p {
    color: white;
    -webkit-text-stroke: 0.1px black;
    text-shadow: 0.5px 0.5px black; }
  .project-example-banner i {
    color: #801014;
    font-size: 1.2em;
    margin-right: 2%; }
  .project-example-banner a {
    text-decoration: none;
    padding: 2.5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120.5%;
    background-color: #F3F3F3; }

.location-sign {
  font-size: 1em;
  margin-left: 11%;
  padding-bottom: 2%; }

.project-example-dsc {
  margin-top: 5%; }

.home-page-donation-section {
  text-align: center;
  margin-top: 5%;
  background-color: #F3F3F3; }
  .home-page-donation-section h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding: 5% 2% 2% 2%; }
  .home-page-donation-section p {
    font-size: 1em;
    padding: 0 2% 5% 2%; }
  .home-page-donation-section img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .home-page-donation-section button {
    background-color: #801014;
    padding: 3% 5% 3% 5%;
    margin: 5% 0 5% 0; }
  .home-page-donation-section a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; }

.donation-desktop-section {
  display: none; }

.Home-page-donation-icon {
  max-width: 35%;
  margin: 7%; }

.home-page-event-section {
  margin-top: 5%; }
  .home-page-event-section i {
    font-size: 0.7em; }
  .home-page-event-section h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #801014;
    margin: -2% 5% 5% 5%; }

.home-page-event-dsc {
  font-size: 1em;
  margin: 5% 5% 2% 5%; }
  .home-page-event-dsc a {
    text-decoration: none;
    color: black;
    font-weight: bold; }

.event-example {
  max-width: 90%;
  border: 1px solid #BDBDBD;
  margin: 5%; }
  .event-example h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4%; }
  .event-example a {
    text-decoration: none;
    color: white;
    background-color: #801014;
    padding: 3%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em; }

.event-dsc {
  display: grid;
  grid-template-columns: 0.7fr 0.1fr 3fr; }
  .event-dsc hr {
    width: 1px;
    size: 50px;
    color: #BDBDBD; }
  .event-dsc h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 3%;
    margin-left: 1%; }
  .event-dsc p {
    margin: 2% 1% 2% 1%; }
  .event-dsc img {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%; }

.event-example-date {
  font-size: 1em; }

.event-example-address {
  font-size: 0.8em; }

.how-we-page-banner-section {
  position: relative; }

.how-page-banner-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #801014;
  position: absolute;
  top: 98.5%;
  width: 92%;
  padding-right: 5%; }

.how-we-banner-gray-text {
  color: #BDBDBD;
  font-size: 0.8em; }

.how-we-banner-white-text {
  color: white;
  font-family: 'Montserrat', sans-serif; }

.how-us-badges-section {
  margin: 10% 5% 5% 5%;
  text-align: center; }
  .how-us-badges-section p {
    margin: 6% 5% 3% 5%; }
    .how-us-badges-section p a {
      text-decoration: none;
      color: black;
      font-weight: bold; }

.partner {
  display: none; }

.how-we-event-section {
  margin-top: 10%;
  padding-bottom: 10%; }
  .how-we-event-section i {
    font-size: 0.7em; }
  .how-we-event-section h2 {
    margin-bottom: 5%; }

h4 a {
  color: #801014;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin: 5%; }

/*---------------- desktop version -------------------*/
@media only screen and (min-width: 1200px) {
  .home-page-start article {
    top: 20%; }
  .home-page-start p {
    font-size: 2em; }
  .home-page-start button {
    margin: 5% 0 2% 1%;
    padding: 3% 10% 3% 10%; }

  .baddges-home-page {
    display: block;
    margin: 28%  0 0 120%;
    max-width: 60%; }

  .logo-without-hand {
    max-width: 27%;
    margin-top: 3%; }

  .home-page-intro {
    font-size: 1.5em;
    margin: 6% 10% 3% 10%;
    line-height: 30px; }
    .home-page-intro a {
      color: #60721B; }

  .home-page-projects h2 i {
    display: none; }

  .Home-project-example {
    max-width: 411.5%; }
    .Home-project-example img {
      max-width: 200%; }

  .project-example-banner {
    top: 59%; }
    .project-example-banner a {
      width: 180%;
      text-align: inherit;
      padding-left: 13%; }

  .location-sign {
    margin-left: 0; }

  .home-page-donation-section h5 {
    font-size: 1.5em;
    font-weight: normal; }
  .home-page-donation-section p {
    font-size: 1.5em;
    font-weight: bold; }
  .home-page-donation-section button {
    display: none; }
  .home-page-donation-section a {
    background-color: white;
    color: #801014;
    padding: 2% 4% 2% 4%;
    border-radius: 6px; }

  .Donation-method {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 9% 0 9%; }

  .donation-desktop-section {
    display: block;
    background: #801014;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0 4% 0; }
    .donation-desktop-section h2 {
      color: white;
      font-size: 1.5em;
      margin: 0; }
    .donation-desktop-section img {
      margin-bottom: 3%;
      margin-top: 3%; }
    .donation-desktop-section p {
      color: #BDBDBD;
      font-size: 1em; }

  .desktop-donation-amount-section {
    margin-top: -3%; }

  .donation-amounts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .donation-amounts p {
      background-color: white;
      color: black;
      padding: 5% 7% 5% 7%;
      border: solid white;
      border-radius: 6px;
      text-align: center;
      margin: 10%; }

  .D-donation-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    margin-bottom: 3%; }
    .D-donation-time label {
      color: #BDBDBD;
      font-size: 1.1em; }

  .desktop-container {
    display: block;
    position: relative;
    padding-left: 10%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  /*Create a custom radio button
  span{ position: fixed;
top: 50%;
right: 70%;
height: 20px;
width: 20px;
background-color: $gray;
border-radius: 50%;
 } */ }
    .desktop-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }

  .D-monthly {
    margin-left: -25%; }

  .D-one-time {
    margin-left: -10%; }

  /* On mouse-over, add a grey background color */
  .desktop-container:hover input ~ .descktop-checkmark {
    background-color: white; }

  /* When the radio button is checked, add a blue background */
  .desktop-container input:checked ~ .desktop-checkmark {
    background-color: white; }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .desktop-checkmark:after {
    content: "";
    position: absolute;
    display: none; }

  /* Show the indicator (dot/circle) when checked */
  .desktop-container input:checked ~ .desktop-checkmark:after {
    display: block; }

  /* Style the indicator (dot/circle) */
  .desktop-container .desktop-checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #60721B; }

  .home-page-event-section h2 i {
    display: none; }

  .home-page-event-dsc {
    text-align: center;
    line-height: 30px;
    margin: 2% 10% 0 10%;
    font-size: 1.3em; }
    .home-page-event-dsc a {
      color: #801014; }

  .event-example {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .Home-desktop-event-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%; }

  .Desktop-event-example-img {
    display: block;
    max-width: 90%;
    margin: 7% 0 0 3%; }

  .event-example {
    max-width: 90%; }

  .grid-projects-example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3% 5% 0 5%; }
    .grid-projects-example .project-example-dsc {
      margin: 5% 2% 0 2%; }

  .projects-example {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding-bottom: 2%; }
    .projects-example img {
      max-width: 100%; }

  .project-example-banner {
    top: 53%; }
    .project-example-banner a {
      width: 133%; }

  .how-us-badges-section p {
    margin: 6% 10% 3% 10%;
    font-size: 1.3em;
    line-height: 30px; }
    .how-us-badges-section p a {
      color: #801014; }

  .about-us-work-with h3 {
    text-align: center; }

  .partner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }

  .partner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center; }

  .partner-logos {
    max-width: 90%; }

  .how-we-event-section {
    padding-bottom: 5%; }

  .we-help-event-example {
    margin-bottom: 2%; } }
